<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

</head>

<%- include('navbar'); %>

<body>
<div class="card">

    <div class="card-header">
        Active Test Definitions
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>set id</th>
                <th>question</th>
                <th>answer</th>
            </tr>
            </thead>
            <tbody>
            <% testDefinitions.forEach(function(entry) { %>
                <tr>
                    <td><%= entry.id %></td>
                    <td><%= entry.setId %></td>
                    <td><%= entry.question %></td>
                    <td><%= entry.answer %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
