<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

</head>

<body>

<%- include('navbar'); %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/test_definition/">Data sets</a></li>
        <li class="breadcrumb-item active" aria-current="page">Active test definitions</li>
    </ol>
</nav>


<div class="card">

    <div class="card-body">
        <table class="table">

            <tr>
                <th width="10%">size</th>
                <td><%= testDefinitions.length %></td>
            </tr>

            <tr>
                <th width="10%">language</th>
                <td><%= user.language %></td>
            </tr>
        </table>
    </div>

</div>

<p></p>


<div class="card">

    <div class="card-header">
        Test Definitions
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>set id</th>
                <th>question</th>
                <th>answer</th>
            </tr>
            </thead>
            <tbody>
            <% testDefinitions.forEach(function(entry) { %>
                <tr>
                    <td><%= entry.setId %></td>
                    <td><%= entry.question %></td>
                    <td><%= entry.answer %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
