<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

</head>
<body>

<%- include('navbar'); %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users">Users</a></li>
        <li class="breadcrumb-item"><a href="/users/<%= userId %>"><%= userId %></a></li>
        <li class="breadcrumb-item"><a href="/users/<%= userId %>/tests">tests</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= testId %></li>
    </ol>
</nav>

<div class="card">

    <div class="card-header">
        Test elements
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>

                <th>Iteration</th>
                <th>Question</th>
                <th>Answer</th>
                <th>User Answer</th>
                <th>Done</th>
                <th>Succeeded</th>
                <th>Redo</th>
                <th>Show Again</th>
                <th>Is a Repeat</th>
            </tr>
            </thead>
            <tbody>
            <% testElements.forEach(function(entry) { %>
                <tr>
                    <td><%= entry.iteration + 1 %></td>
                    <td><%= entry.question %></td>
                    <td><%= entry.answer %></td>
                    <td><%= entry.user_answer %></td>
                    <td><%= entry.is_done ? '+' : '-'%></td>
                    <td><%= entry.is_success ? '+' : '-'%></td>
                    <td><%= entry.is_redo ? '+' : '-' %></td>
                    <td><%= entry.is_redisplay ? '+' : '-' %></td>
                    <td><%= entry.is_a_repeat ? '+' : '-' %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
