<!DOCTYPE html>
<html>
<head>


    <%- include('../header'); %>

</head>

<body>

<%- include('navbar'); %>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Data sets</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>description</th>
                <th>Active</th>
                <th>language</th>
            </tr>
            </thead>
            <tbody>
            <% testDefinitionSets.forEach(function(entry) { %>
                <tr>
                    <td><a href="<%= '/test_definition/' + entry.id %>"><%= entry.id %></a></td>
                    <td><%= entry.description %></td>
                    <td><%= entry.is_active ? '+' : '' %></td>
                    <td><%= entry.language %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
