<!DOCTYPE html>
<html>
<head>

    <%- include('../header'); %>

</head>
<body>

<%- include('navbar'); %>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users">Users</a></li>
        <li class="breadcrumb-item"><a href="/users/<%= user.id %>"><%= user.login %></a></li>
        <li class="breadcrumb-item active" aria-current="page">tests</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        Tests
    </div>
    <div class="card-body">

        <form method="post">

            <input type="hidden" id="user_id" name="user_id" value="<%= user.id %>">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Step</th>
                    <th>Iteration</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <% tests.forEach(function(entry, index) { %>


                    <tr>

                        <td>
                            <a href="/users/<%= user.id %>/tests/<%= entry.id %>"><%= entry.is_first_step ? "First" : "Second" %></a>
                        </td>

                        <td><%= entry.testElements != undefined && entry.testElements != null && entry.testElements.length > 0  ? (entry.testElements[0].iteration + 1) : 0 %></td>

                        <td>

                            <% if (!entry.is_completed && !entry.is_aborted) { %>
                                Ongoing
                            <% } %>

                            <% if (!entry.is_completed && entry.is_aborted) { %>
                                Aborted
                            <% } %>

                            <% if (entry.is_completed) { %>
                                Done
                            <% } %>
                        </td>

                        <td>

                            <% if (index == 0) { %>

                                <% if (entry.is_completed) { %>

                                    <button type="submit" formaction="/tests/admin/<%= entry.id %>/next"
                                            class="btn btn-primary">
                                        Start Test <%= entry.is_first_step ? " 2" : " 1" %>
                                    </button>
                                <% } %>

                                <% if (!entry.is_completed) { %>

                                    <% if (!entry.is_aborted ) { %>

                                        <button type="submit" formaction="/tests/admin/<%= entry.id %>/abort"
                                                class="btn btn-danger">
                                            Abort Test
                                        </button>

                                    <% } %>

                                    <% if (entry.is_aborted ) { %>

                                        <button type="submit" formaction="/tests/admin/<%= entry.id %>/new"
                                                class="btn btn-primary">
                                            Start Again Test <%= entry.is_first_step ? " 1" : " 2" %>
                                        </button>

                                        <button type="submit" formaction="/tests/admin/<%= entry.id %>/next"
                                                class="btn btn-primary">
                                            Start Test <%= entry.is_first_step ? " 2" : " 1" %>
                                        </button>

                                    <% } %>

                                <% } %>

                            <% } %>

                        </td>
                    </tr>

                <% }) %>

                </tbody>


            </table>

        </form>
    </div>
</div>
</body>
</html>
