<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/users">Users</a></li>
        <li class="breadcrumb-item"><a href="/users/<%= userId %>"><%= userId %></a></li>
        <li class="breadcrumb-item active" aria-current="page">tests</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        Tests
    </div>
    <div class="card-body">

        <form method="post">

            <input type="hidden" id="user_id" name="user_id" value="<%= userId %>">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: center ">Step</th>
                    <th style="text-align: center ">Status</th>
                    <th style="text-align: center ">Action</th>
                </tr>
                </thead>
                <tbody>

                <% tests.forEach(function(entry) { %>


                    <tr>

                        <td style="text-align: center ">
                            <a href="/users/<%= userId %>/tests/<%= entry.id %>"><%= entry.is_first_step ? "First" : "Second" %></a>
                        </td>

                        <td style="text-align: center ">

                            <% if (!entry.is_completed && !entry.is_aborted) { %>
                                Ongoing
                            <% } %>

                            <% if (!entry.is_completed && entry.is_aborted) { %>
                                Aborted
                            <% } %>

                            <% if (entry.is_completed) { %>
                                Done
                            <% } %>
                        </td>

                        <td style="text-align: center ">

                            <% if (entry.is_completed) { %>

                                <% if (entry.is_first_step && !entry.children_id) { %>

                                    <button type="submit" formaction="/tests/<%= entry.id %>/next"
                                            class="btn btn-primary">
                                        Start Next Step
                                    </button>

                                <% } %>

                                <% if (!entry.is_first_step) { %>

                                    <button type="submit" formaction="/tests/<%= entry.id %>/new"
                                            class="btn btn-primary">
                                        Start New Test
                                    </button>

                                <% } %>

                            <% } %>

                            <% if (!entry.is_completed) { %>

                                <% if (!entry.is_aborted ) { %>

                                    <button type="submit" formaction="/tests/<%= entry.id %>/abort"
                                            class="btn btn-danger">
                                        Abort Test
                                    </button>

                                <% } %>

                            <% } %>

                        </td>
                    </tr>

                <% }) %>

                </tbody>


            </table>

        </form>
    </div>
</div>
</body>
</html>
