<!DOCTYPE html>
<html>
<head>
    <%- include('./header'); %>
</head>
<body>

<div class="alert alert-primary" role="alert">
    <h2>Hello <%= user.login %>!</h2>
    <p><%= user.uITextElementsMap.fill_form%></p>
</div>

<div class="card">

    <div class="card-body">
        <form action="/users/save" method="post"  autocomplete="off">

            <div class="form-group">
                <label for="age" class="col-form-label"><%= user.uITextElementsMap.age%></label>
                <input type="text" class="form-control" id="age" name="age" value="<%= user.age %>">
                <label id="age" class="form-text text-muted"><%= user.uITextElementsMap.age_constraints%></label>
            </div>

            <div class="form-group">
                <label for="sex" class="col-form-label"><%= user.uITextElementsMap.sex%></label>

                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineSexRadio2"
                           value="f" <%- user.sex == 'f' ? 'checked' : '' %>>
                    <label class="form-check-label" for="inlineRadio2"><%= user.uITextElementsMap.female%></label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sex" id="inlineSexRadio1"
                           value="m" <%- user.sex == 'm' ? 'checked' : '' %>>
                    <label class="form-check-label" for="inlineRadio1"><%= user.uITextElementsMap.male%></label>
                </div>

            </div>

            <div class="form-group">
                <label for="level" class="col-form-label"><%= user.uITextElementsMap.level%></label>
                <input type="text" class="form-control" id="level" name="level" value="<%= user.level %>">
            </div>

            <button type="submit" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_continue%></button>
        </form>

    </div>
</div>

</body>
</html>
