<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="card">
    <div class="card-header">
        Users
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>age</th>
                <th>level</th>
                <th>sex</th>
                <th>tests</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(entry) { %>
                <tr>
                    <td><a href="/user/<%=entry.id%>"><%= entry.id %></a></td>
                    <td><%= entry.age %></td>
                    <td><%= entry.level %></td>
                    <td><%= entry.sex %></td>
                    <td><a href="/user_tests/<%=entry.id%>">tests</a></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
