<!DOCTYPE html>
<html>
<head>

    <%- include('../../header'); %>

</head>
<body>

<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading"><%= user.uITextElementsMap.try_to_translate %></h4>
</div>


<div class="card">

    <div class="card-body">

        <p><%= user.uITextElementsMap.write_answer %></p>

        <form action="/tests/run/submit" method="post" autocomplete="off">

            <table>
                <tr>
                    <td class="biginput"><%= entry.question %>&nbsp;&nbsp;=&nbsp;&nbsp;</td>
                    <td><input type="text" class="form-control biginput" id="answer" name="answer"></td>
                </tr>
            </table>

            <p></p>

            <input type="hidden" readonly class="form-control" id="question" name="question"
                   value="<%= entry.question %>">

            <input type="hidden" class="form-control" id="test_id" name="test_id" value="<%= entry.test_id %>">

            <input type="hidden" class="form-control" id="test_element_id" name="test_element_id"
                   value="<%= entry.id %>">
            <input type="hidden" class="form-control" id="test_definition_id" name="test_definition_id"
                   value="<%= entry.test_definition_id %>">
            <input type="hidden" class="form-control" id="is_first_step" name="is_first_step"
                   value="<%= test.is_first_step %>">

            <button type="submit" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_validate %></button>
        </form>

    </div>
</div>

</body>
</html>
