<!DOCTYPE html>
<html>
<head>


    <%- include('../../header'); %>

</head>
<body>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Ooups !</h4>
    <p><%= user.uITextElementsMap.wrong_answer %></p>
</div>

<div class="card">

    <div class="card-body">
        <form action="/tests/run/next" method="post">

            <% if (entry.is_first_step === 'true') { %>

                <p><%= user.uITextElementsMap.your_answer_is %> <b>:&nbsp;<%= entry.answer %>.&nbsp;</b> <%= user.uITextElementsMap.right_answer_is %></p>

                <table>
                    <tr>
                        <td><%= entry.question %>&nbsp;&nbsp;=&nbsp;&nbsp;</td>
                        <td><%= right_answer %></td>
                    </tr>
                </table>

                <p></p>

            <% } %>

            <input type="hidden" readonly class="form-control" id="question" name="question"
                   value="<%= entry.question %>">
            <input type="hidden" readonly class="form-control" id="answer" name="answer" value="<%= right_answer %>">

            <input type="hidden" class="form-control" id="test_id" name="test_id" value="<%= entry.test_id %>">
            <input type="hidden" class="form-control" id="test_element_id" name="test_element_id"
                   value="<%= entry.test_element_id %>">
            <input type="hidden" class="form-control" id="test_definition_id" name="test_definition_id"
                   value="<%= entry.test_definition_id %>">

            <button type="submit" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_continue %></button>
        </form>

    </div>
</div>

</body>
</html>
