<!DOCTYPE html>
<html>
<head>

    <%- include('../../header'); %>

    <script type="text/javascript">

        $(document).ready(function () {

            $("button[type='submit']")[0].disabled = true;

            $("input[type='radio']").change(function () {

                $("button[type='submit']")[0].disabled = false;
            });
        });

    </script>

</head>
<body>

<div class="alert alert-success" role="alert">

    <h4 class="alert-heading"><%= user.uITextElementsMap.right_answer %></h4>

    <% if (entry.is_first_step === 'true') { %>
        <hr>
        <p class="lead"><%= entry.question %>&nbsp;&nbsp;=&nbsp;&nbsp;<%= right_answer %></p>
        <p><%= user.uITextElementsMap.choose_an_option %></p>
    <% } %>

</div>


<div class="card">

    <div class="card-body">
        <form action="/tests/run/next/<%= timeStamp %>" method="post" autocomplete="off">

            <% if (entry.is_first_step === 'true') { %>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0"><%= user.uITextElementsMap.options %></legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="review_choice" id="see" value="see">
                                <label class="form-check-label" for="see">
                                    <%= user.uITextElementsMap.see_again_choice %>
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="review_choice" id="test"
                                       value="test">
                                <label class="form-check-label" for="test">
                                    <%= user.uITextElementsMap.retest_choice %>
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="review_choice" id="test"
                                       value="nothing">
                                <label class="form-check-label" for="test">
                                    <%= user.uITextElementsMap.no_retest_no_see_again_choice %>
                                </label>
                            </div>

                        </div>
                    </div>
                </fieldset>
            <% } %>

            <input type="hidden" class="form-control" id="test_id" name="test_id" value="<%= entry.test_id %>">
            <input type="hidden" class="form-control" id="test_element_id" name="test_element_id"
                   value="<%= entry.test_element_id %>">
            <input type="hidden" class="form-control" id="test_definition_id" name="test_definition_id"
                   value="<%= entry.test_definition_id %>">


            <button type="submit" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_continue %></button>
        </form>

    </div>
</div>

</body>
</html>
