<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>


    <script type="text/javascript">
        window.onload = function () {
            window.setTimeout(function () {
                document.memorizeForm.submit();
            }, 5000);
        };
    </script>

</head>
<body>


<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Essaye de retenir le mot numero <%= testDefinitionIndex + 1 %></h4>
</div>

<div class="card">

    <div class="card-body">
        <form name="memorizeForm" id="memorizeForm" action="/tests/memorize" method="post">

            <div class="form-group">
                <label for="question" class="col-form-label">Hongrois</label>
                <input type="text" readonly class="form-control" id="question" name="question"
                       value="<%= question %>">
            </div>

            <div class="form-group">
                <label for="answer" class="col-form-label">Francais</label>
                <input type="text" readonly class="form-control" id="answer" name="answer"
                       value="<%= answer %>">
            </div>

            <input type="hidden" class="form-control" id="user" name="user" value="<%= user %>">
            <input type="hidden" class="form-control" id="test_definition_index" name="test_definition_index" value="<%= testDefinitionIndex %>">
        </form>
    </div>
</div>
</body>
</html>
