<!DOCTYPE html>
<html>
<head>

    <%- include('../../header'); %>

</head>
<body>

<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Hello!</h4>
    <p><%= user.uITextElementsMap.explanation%></p>
</div>

<div class="card">

    <div class="card-body">

        <p><%= user.uITextElementsMap.example%></p>

        <form action="/tests/example/test" method="post">

            <div class="form-group">
                <label for="question" class="col-form-label"><%= user.uITextElementsMap.source_language%></label>
                <input type="text" readonly class="form-control" id="question" name="question"
                       value="<%= question %>">
            </div>

            <div class="form-group">
                <label for="answer" class="col-form-label"><%= user.uITextElementsMap.target_language%></label>
                <input type="text" readonly class="form-control" id="answer" name="answer"
                       value="<%= answer %>">
            </div>

            <input type="hidden" class="form-control" id="test_definition_id" name="test_definition_id"
                   value="<%= testDefinitionId %>">

            <button type="submit" class="btn btn-primary"><%= user.uITextElementsMap.press_key_to_continue%></button>

        </form>
    </div>
</div>
</body>
</html>
